<div class="p-4 mb-3 bg-light rounded">
    <h4 class="fst-italic">Sobre</h4>
    <p class="mb-0">Este é meu blog sobre notícias da área de tecnologia e assuntos que eu adoro ler e que gostaria de compartilhar com vocês.</p>
  </div>