<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Facebook, Instagram e Whatsapp ficam 7 horas fora do ar!</h1>
        <p class="lead my-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati rem quas quos harum enim ducimus ea animi dicta officiis inventore quod dolor odio aliquid iure eaque, quaerat impedit dolores quibusdam?</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Leia mais...</a></p>
      </div>
    </div>